@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Roboto+Slab:wght@100;400&family=Secular+One&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #146C94;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__h1 {
    font-family: 'Secular One', sans-serif;
    margin-bottom: 0;
    color: #F6F1F1;
    font-size: 2em;
}

.header__h4 {
    font-family: 'Inconsolata', monospace;
    color: #AFD3E2;
    font-size: 1em;
}

/*input[type="radio"] {
    display: none;
}*/

.body__seleccionar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body__h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    display: block;
    margin-bottom: 1.5vw;
    margin-left: 1.5vw;
    text-align: left;
    color: rgb(175, 211, 226);
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjetas__label {
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    width: 180px;
    height: 100px;
    background-color: #19A7CE;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F1F1;
}

.tarjetas img {
    width: 50%;
}

.boton--principal{
    background-color: #19A7CE;
    border: 0;
    width: 25%;
    height: 5vh;
    margin-top: 1.5vw;
    color: #F6F1F1;
    font-family: 'Roboto Slab', serif;
    border-radius: 20px;
}

.oculto {
    display: none;
}

.vidas {
    display: block;
    margin-left: 1.4vw;
    font-family: 'Inconsolata', monospace;
    color: #AFD3E2;
}

.p__boton {
    border-radius: 50%;
    height: 15%;
    width: 31%;
    font-size: 4.2em;
    background-color: #19A7CE;
    border-color: #F6F1F1;
}

.mensajes {
    margin: 1em;
    padding: 0.5em;
    border: 8px double #F6F1F1;
    color: #146C94;
    background-color: #AFD3E2;
}